<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/cart.png">
    <title>LazaPee</title>
    <style>
        body {
            box-sizing: border-box;
            margin: 0;
            width: 100vw;
            height: 100vh;
            background-image: url("/img/4041.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        button {
            position: relative;
            top: 73%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 180px;
            height: 50px;
            border-radius: 24px;
            background-color: rgba(0, 0, 0, 0);
            transition: all 0.2s ease-in-out;
            border: none;
            cursor: pointer;
        }
        
        button:hover {
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>
<body>
    <a href="/">
        <button></button>
    </a>
</body>
</html>