</head>

<body>
    <header>
        <div class="logo" ><a href="/">LazaPee</a></div>
        <nav>
            <div class="hello">Hello</div>

            <div class="products">
                Danh mục
                <ul>
                    <li><a href="">Giày</a></li>
                    <li><a href="">Quần áo</a></li>
                    <li><a href="">Phụ kiện</a></li>
                    <li><a href="">Khác</a></li>
                </ul>
            </div>
            <div class="my-shop">
                Cửa hàng
                <ul>
                    <li><a href="">Đơn đặt hàng</a></li>
                    <li><a href="/my/store/product">Kho</a></li>
                    <li><a href="">Mã giảm giá</a></li>
                    <li><a href="/my/store/product/post">Đăng sản phẩm</a></li>
                </ul>
            </div>
            <div class="my-self">
                Tài khoản
                <ul>
                    <li><a href="">Đơn hàng đã đặt</a></li>
                    <li><a href="">Địa chỉ nhận hàng</a></li>
                    <li><a href="">Thông tin cá nhân</a></li>
                    <li><a href="">Đổi mật khẩu</a></li>
                </ul>
            </div>

            <div id="cart">
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>

            <a href="" id="login-out">
                <button>Đăng xuất</button>
            </a>
        </nav>
    </header>

    