#cart {
    margin: 40px auto 180px;
    max-width: 1100px;
    min-height: 80vh;

    .cart-header {
        background-color: rgb(250, 250, 250);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;

        .all-check {
            width: 360px;
            margin: 10px;

            input {
                width: 20px;
                height: 20px;
            }

            span {
                margin-left: 16px;
            }
        }

        .header-price {
            width: 100px;
        }

        .header-quantity {
            width: 150px;
        }

        .header-price-total {
            width: 160px;
        }
    }

    .cart-body {
        .cart-items {

            .cart-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                border: 1px solid #ebebeb;
                border-radius: 1px;

                .cart-item-group {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 360px;

                    input {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }

                    .cart-item-image {
                        width: 120px;
                        height: 140px;
                        padding: 8px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .cart-item-name {
                        width: 200px;
                    }
                }

                .cart-item-price {
                    width: 100px;
                }

                .cart-item-quantity {
                    width: 150px;
                    display: flex;
                    font-size: 1.1rem;

                    input {
                        width: 86px;
                        height: 32px;
                        border-top: 1px solid #ccc;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1px solid #ccc;
                        text-align: center;
                        color: #000;
                    }

                    button {
                        width: 32px;
                        height: 32px;
                        border: 1px solid #ccc;
                        background-color: #fff;
                    }
                }

                .cart-item-price-total {
                    width: 160px;
                }
            }
        }
    }

    .cart-footer {
        position: absolute;
        z-index: 1;
        height: 140px;
        width: 1100px;
        border: 1px solid #ebebeb;
        background-color: #fff;
        padding: 20px 40px;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .priceTotalItems {
            width: 160px;
        }

        .discount {
            width: 420px;

            input {
                height: 40px;
                width: 200px;
                padding: 0 12px;
                outline: none;
                border: 2px solid #4dabf7;
            }

            button {
                height: 40px;
                width: 100px;
                color: #fff;
                border: none;
                border-radius: 1px;
                background-color: #4dabf7;
            }
        }

        .order {
            color: #fff;
            background-color: #4dabf7;
            border: none;
            border-radius: 1px;
            width: 140px;
            font-size: 1.2rem;
            height: 46px;
            font-weight: 600;
        }

        button:hover {
            background-color: #76bcf5;
        }
    }

    .cart-footer.cart-fixed {
        position: fixed;
        bottom: 0;
        box-shadow: 0 -10px 15px -10px #ccc;
    }
}