$PrimaryColor : #4dabf7;

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 94px 10px 110px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    background-color: #fff;
    color: #000;
    z-index: 1;

    .logo {
        a {
            font-size: 2.4rem;
            font-weight: 700;
            color: $PrimaryColor;
            text-decoration: none;
        }
    }

    nav {
        display: flex;
        justify-content: space-around;
        height: 100%;

        div {
            padding: 8px 16px;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;

            ul {
                position: absolute;
                transform: translateX(12px);
                top: 44px;
                font-size: 1rem;
                background-color: #fff;
                color: #000;
                width: 170px;
                border-radius: 1px;
                list-style: none;
                padding: 0;
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;
                border: 1px solid #ccc;
                z-index: 1;

                li {
                    border-radius: 1px;

                    a {
                        padding: 5px 10px;
                        text-decoration: none;
                        display: block;
                        color: #000;
                    }
                }

                li:hover {
                    background-color: $PrimaryColor;
                    color: #fff;

                    a {
                        color: #fff;
                    }
                }
            }
        }

        .my-self {
            justify-content: space-between;
            position: relative;

            i {
                color: #000;
                font-size: 24px;
                margin-right: 2px;
                transition: all 0.2s ease-in-out;
            }

            li:last-child {
                border-top: 2px solid #ccc;
            }


        }

        div:hover {
            color: $PrimaryColor;
        }

        div:hover i {
            color: $PrimaryColor;
        }

        div:hover>ul {
            opacity: 1;
            pointer-events: all;
            transform: translateX(0);
        }

        .cart {
            a {
                color: #000;
                transition: all 0.2s ease-in-out;
                i {
                    font-size: 1.4rem;
                }
            }
            
        }

        #login-out {
            margin-left: 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            button {
                padding: 0 8px;
                height: 70%;
                cursor: pointer;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                background-color: #fff;
                color: #000;
                border: 1.6px solid $PrimaryColor;
                border-radius: 2px;
            }

            button:hover {

                background-color: $PrimaryColor;
                color: #fff;
            }
        }
    }
}

header.scroll {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;

    .logo {
        a {
            color: #fff;
        }
    }

    .cart {
        a {
            color: #fff;
        }
    }

    .my-self {
        i {
            color: #fff;
        }
    }

    .my-self:hover i{
        color: $PrimaryColor;

    }

    #login-out {

        button {
            background-color: rgba(0, 0, 0, 0);
            color: #fff;
            border: 1.6px solid #fff;
        }

        button:hover {
            background-color: $PrimaryColor;
            border: 1.6px solid $PrimaryColor;
        }
    }
}