@import 'header';
@import 'banner';
@import 'main';
@import 'footer';
@import 'product-store';
@import 'details';
@import 'login-register';
@import 'cart';
@import 'address';
@import 'ordered';

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    margin:0;
}