@import 'header';
@import 'banner';
@import 'main';
@import 'footer';
@import 'product-store';
@import 'details';
@import 'login-register';
@import 'cart';
@import 'address';

* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


body {
    margin:0;
}