<%- include('../partials/head.ejs') %>

<script src="/js/jquery.js"></script>

<%- include('../partials/nav.ejs') %>

<div class="login-register">
    <div class="login-register-form">
        <p>Tên đăng nhập</p>
        <input type="text" name="username" id="username">
        <label for="username"></label>
        <p>Mật khẩu</p>
        <input type="password" name="password" id="password">
        <label for="password"></label>
        <div><button id="btn-login">Đăng nhập</button></div>
    </div>

    <div id="create-account">
        <div>Bạn chưa có tài khoản ? <a href="/auth/register">Đăng kí ngay</a></div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>

<script>
    const btn = document.getElementById('btn-login')
    btn.onclick = () => {
        const username = document.getElementById('username')
        const password = document.getElementById('password')
        if (!username.value.match(/^[a-zA-Z0-9]+$/)) {
            username.classList.add('err')
            document.querySelector(`[for="username"]`).innerText = 'Tên đăng nhập phải thuộc a-z, A-Z, 0-9'
        } else if (!password.value.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{6,})/)) {
            password.classList.add('err')
            document.querySelector(`[for="password"]`).innerText = 'Mật khẩu bao gồm chữ hoa, chữ thường, số và kí tự đặc biệt'
        } else {
            $.ajax({
                url: '/auth/verify',
                type: 'POST',
                data: { 
                    username: username.value,
                    password: password.value
                },
                success: (data) => {
                    const message = data.message
                    if(message == 'success') {
                        // const d = new Date();
                        // d.setTime(d.getTime() + (2 * 60 * 60 * 1000))
                        // let expires = "expires=" + d.toUTCString();
                        // document.cookie = "role=" + data.role + ";" + expires + ";path=/"
                        localStorage.setItem('firstName', data.firstName)
                        localStorage.setItem('avatar', data.avatar)
                        window.location.href = '/'
                    } else {
                        document.getElementById(message).classList.add('err')
                        let text = 'Tên đăng nhập không tồn tại'
                        if(message == 'password') {
                            text = 'Mật khẩu không chính xác'
                        }
                        document.querySelector(`[for="${message}"]`).innerText = text
                    }
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }
    }

    const inputs = document.querySelectorAll('input')
    inputs.forEach(input => {
        input.onkeyup = (evt) => {
            evt.target.classList.remove('err')
            document.querySelector(`[for="${evt.target.id}"]`).innerText = ''
        }
    })
</script>