<%- include('../partials/head.ejs') %>

<script src="/js/jquery.js"></script>

<%- include('../partials/nav.ejs') %>

<div class="login-register">
    <div class="login-register-form">
        <p>Tên đăng nhập</p>
        <input type="text" name="username" id="username">
        <label for="username"></label>
        <p>Mật khẩu</p>
        <input type="password" name="password" id="password">
        <label for="password"></label>
        <div><button id="btn-login">Đăng nhập</button></div>
    </div>

    <div id="create-account">
        <div>Bạn chưa có tài khoản ? <a href="/auth/register">Đăng kí ngay</a></div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>

<script>
    const btn = document.getElementById('btn-login')
    btn.onclick = () => {
        const username = document.getElementById('username').value
        const password = document.getElementById('password').value

        $.ajax({
            url: '/auth/verify',
            type: 'POST',
            data: { username, password },
            success: (data) => {
                const message = data.message
                if(message == 'success') {
                    localStorage.setItem('role', data.role)
                    localStorage.setItem('firstName', data.firstName)
                    localStorage.setItem('lastName', data.lastName)
                    localStorage.setItem('avatar', data.avatar)
                    window.location.href = '/'
                } else {
                    document.getElementById(message).classList.add('err')
                    let text = 'Tên đăng nhập không tồn tại'
                    if(message == 'password') {
                        text = 'Mật khẩu không chính xác'
                    }
                    document.querySelector(`[for="${message}"]`).innerText = text
                }
            },
            error: (err) => {
                console.log(err)
            }
        })
    }

    const inputs = document.querySelectorAll('input')
    inputs.forEach(input => {
        input.onkeyup = (evt) => {
            evt.target.classList.remove('err')
            document.querySelector(`[for="${evt.target.id}"]`).innerText = ''
        }
    })
</script>