<%- include('../partials/head.ejs') %> 
<%- include('../partials/nav.ejs') %> 

<div class="login-register">
    <div class="login-register-form">
        <h5 style="text-align:center">Đăng kí thành công</h5>
        <a href="/auth/login" ><button>Về đăng nhập</button></a>
    </div>
</div>


<%- include('../partials/footer.ejs') %> 