<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

<div class="login-register">
    <div class="login-register-form">
        <div class="title">Xác nhận</div>
        <p>Nhập mã xác nhận trong email</p>
        <input class="input-register" type="text" name="code" id="code">
        <label for="code"></label>
        <div id="btn"><button id="btn-submit" class="btn">Xác nhận</button></div>
    </div>
</div>
<div id="toast"></div>

<%- include('../partials/footer.ejs') %>
<script src="/js/jquery.js"></script>
<script src="/js/toast.js"></script>
<script>
    const inputs = document.querySelectorAll('.input-register')
    const btnSubmit = document.getElementById('btn-submit')
    const code = document.getElementById('code')
    
    btnSubmit.addEventListener('click', function () {
            btnSubmit.innerHTML = `
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
            `
            const url = '/auth/register/verify'
            const type = 'POST'
            const email = localStorage.getItem('email-account')
            const data = {
                email: email,
                code: code.value,
            }
            $.ajax({
                url, type, data,
                success: (res) => {
                    if (res.status === 'success') {
                        localStorage.setItem('firstName', res.firstName)
                        localStorage.setItem('avatar', res.avatar)
                        toast({
                            title: 'Thành công',
                            message: 'Đăng kí tài khoản thành công',
                            type: 'success',
                            duration: 1500
                        })
                        setTimeout(() => {
                            window.location.href = '/'
                        }, 1000)
                    } else {
                        code.classList.add('err')
                        document.querySelector(`[for="code"]`).innerText = 'Mã xác nhận không chính xác'
                        btnSubmit.innerHTML = `Xác nhận`
                    }
                },
                error: (err) => {
                    console.log(err)
                }
            })
        
    })
    inputs.forEach(input => {
        input.onkeyup = (evt) => {
            evt.target.classList.remove('err')
            document.querySelector(`[for="${evt.target.id}"]`).innerText = ''
        }
    })
</script>