<%- include('../partials/head.ejs') %>

<script src="/js/jquery.js"></script>

<%- include('../partials/nav.ejs') %>

<div class="login-register">
    <div class="login-register-form">
        <div class="title">Khôi phục mật khẩu</div>
        <p>Nhập email</p>
        <input type="email" name="email" id="email">
        <label for="email"></label>
        <div id="btn"><button id="btn-submit">Gửi mã xác nhận</button></div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>

<script>
    const btnSubmit = document.getElementById('btn-submit')
    btnSubmit.addEventListener('click', function () {
        const email = document.getElementById('email')
        if (email.value === '') {
            email.classList.add('err')
            document.querySelector(`[for="email"]`).innerText = 'Vui lòng nhập trường này'
            return
        } else if (!email.value.toLowerCase().match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
            email.classList.add('err')
            document.querySelector(`[for="email"]`).innerText = 'Email không hợp lệ'
            return
        }
        btnSubmit.innerHTML = `
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
        `
        const url = '/mail/forgot-password'
        const type = 'POST'
        const data = { email: email.value }
        $.ajax({
            url, type, data,
            success: (res) => {
                if (res.status === 'success') {
                    localStorage.setItem('email-reset', data.email)
                    window.location.href = '/mail/verify-email'
                } else {
                    email.classList.add('err')
                    document.querySelector(`[for="email"]`).innerText = 'Email không tồn tại'
                    btnSubmit.innerHTML = `Gửi mã xác nhận`
                }
            },
            error: (err) => {
                console.log(err)
            }
        }
        )
    })
    const inputs = document.querySelectorAll('.input-register')
    inputs.forEach(input => {
        input.onkeyup = (evt) => {
            evt.target.classList.remove('err')
            document.querySelector(`[for="${evt.target.id}"]`).innerText = ''
        }
    })
</script>